{% extends "layout-base.html" %}

{% block body %}

<style>
    /* DEBUG */
    .container { margin-bottom: 20px; background-color: white; padding: 10px;}
    body { background-color: red; padding: 40px;}
</style>

<div class="container">
    {% include "contact-0.html" %}
</div>

<div class="container">
    {% include "contact-1.html" %}
</div>

<div class="container">
    {% include "contact-2.html" %}
</div>

<div class="container">
    {% include "contact-3.html" %}
</div>

<div class="container">
    {% include "contact-4.html" %}
</div>

<div class="container">
    {% include "contact-5.html" %}
</div>

<div class="container">
    {% include "contact-6.html" %}
</div>
        
{% endblock %}
