{% extends "layout-base.html" %}

{% block body %}

<style>
    /* DEBUG */
    .container { margin-bottom: 20px; background-color: white; padding: 10px;}
    body { background-color: red; padding: 40px;}
    
    {% include "section-0.css" %}
    {% include "section-1.css" %}
    {% include "section-2.css" %}
    {% include "section-3.css" %}
    {% include "section-4.css" %}
    {% include "section-5.css" %}
    {% include "section-6.css" %}
    {% include "section-7.css" %}
    {% include "section-8.css" %}
    {% include "section-9.css" %}
    {% include "section-10.css" %}
    {% include "section-11.css" %}
    {% include "section-12.css" %}
</style>

<div class="container">
    <section class="section-0">
        <h2  class="section-title"  ><span>Headline</span></h2>
        <div class="section-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a porta mauris. Curabitur aliquet posuere nibh nec aliquet. Cras lacus diam, sollicitudin nec vehicula quis, pretium quis turpis. Curabitur elit eros, gravida in nunc et, luctus accumsan ipsum. Sed eget eros felis. Mauris luctus tincidunt turpis a efficitur.
        </div>
    </section>
</div>

<div class="container">
    <section class="section-1">
        <h2  class="section-title"  ><span>Headline</span></h2>
        <div class="section-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a porta mauris. Curabitur aliquet posuere nibh nec aliquet. Cras lacus diam, sollicitudin nec vehicula quis, pretium quis turpis. Curabitur elit eros, gravida in nunc et, luctus accumsan ipsum. Sed eget eros felis. Mauris luctus tincidunt turpis a efficitur.
        </div>
    </section>
</div>

<div class="container">
    <section class="section-2">
        <h2  class="section-title"  ><span>Headline</span></h2>
        <div class="section-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a porta mauris. Curabitur aliquet posuere nibh nec aliquet. Cras lacus diam, sollicitudin nec vehicula quis, pretium quis turpis. Curabitur elit eros, gravida in nunc et, luctus accumsan ipsum. Sed eget eros felis. Mauris luctus tincidunt turpis a efficitur.
        </div>
    </section>
</div>

<div class="container">
    <section class="section-3">
        <h2  class="section-title"  ><span>Headline</span></h2>
        <div class="section-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a porta mauris. Curabitur aliquet posuere nibh nec aliquet. Cras lacus diam, sollicitudin nec vehicula quis, pretium quis turpis. Curabitur elit eros, gravida in nunc et, luctus accumsan ipsum. Sed eget eros felis. Mauris luctus tincidunt turpis a efficitur.
        </div>
    </section>
</div>

<div class="container">
    <section class="section-4">
        <h2  class="section-title"  ><span>Headline</span></h2>
        <div class="section-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a porta mauris. Curabitur aliquet posuere nibh nec aliquet. Cras lacus diam, sollicitudin nec vehicula quis, pretium quis turpis. Curabitur elit eros, gravida in nunc et, luctus accumsan ipsum. Sed eget eros felis. Mauris luctus tincidunt turpis a efficitur.
        </div>
    </section>
</div>
        
<div class="container">
    <section class="section-5">
        <h2  class="section-title"  ><span>Headline</span></h2>
        <div class="section-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a porta mauris. Curabitur aliquet posuere nibh nec aliquet. Cras lacus diam, sollicitudin nec vehicula quis, pretium quis turpis. Curabitur elit eros, gravida in nunc et, luctus accumsan ipsum. Sed eget eros felis. Mauris luctus tincidunt turpis a efficitur.
        </div>
    </section>
</div>

<div class="container">
    <section class="section-6">
        <h2  class="section-title"  ><span>Headline</span></h2>
        <div class="section-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a porta mauris. Curabitur aliquet posuere nibh nec aliquet. Cras lacus diam, sollicitudin nec vehicula quis, pretium quis turpis. Curabitur elit eros, gravida in nunc et, luctus accumsan ipsum. Sed eget eros felis. Mauris luctus tincidunt turpis a efficitur.
        </div>
    </section>
</div>

<div class="container">
    <section class="section-7">
        <h2  class="section-title"  ><span>Headline</span></h2>
        <div class="section-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a porta mauris. Curabitur aliquet posuere nibh nec aliquet. Cras lacus diam, sollicitudin nec vehicula quis, pretium quis turpis. Curabitur elit eros, gravida in nunc et, luctus accumsan ipsum. Sed eget eros felis. Mauris luctus tincidunt turpis a efficitur.
        </div>
    </section>
</div>

<div class="container">
    <section class="section-8">
        <h2  class="section-title"  ><span>Headline</span></h2>
        <div class="section-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a porta mauris. Curabitur aliquet posuere nibh nec aliquet. Cras lacus diam, sollicitudin nec vehicula quis, pretium quis turpis. Curabitur elit eros, gravida in nunc et, luctus accumsan ipsum. Sed eget eros felis. Mauris luctus tincidunt turpis a efficitur.
        </div>
    </section>
</div>

<div class="container">
    <section class="section-9">
        <h2  class="section-title"  ><span>Headline</span></h2>
        <div class="section-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a porta mauris. Curabitur aliquet posuere nibh nec aliquet. Cras lacus diam, sollicitudin nec vehicula quis, pretium quis turpis. Curabitur elit eros, gravida in nunc et, luctus accumsan ipsum. Sed eget eros felis. Mauris luctus tincidunt turpis a efficitur.
        </div>
    </section>
</div>

<div class="container">
    <section class="section-10">
        <h2  class="section-title"  ><span>Headline</span></h2>
        <div class="section-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a porta mauris. Curabitur aliquet posuere nibh nec aliquet. Cras lacus diam, sollicitudin nec vehicula quis, pretium quis turpis. Curabitur elit eros, gravida in nunc et, luctus accumsan ipsum. Sed eget eros felis. Mauris luctus tincidunt turpis a efficitur.
        </div>
    </section>
</div>

<div class="container">
    <section class="section-11">
        <h2  class="section-title"  ><span>Headline</span></h2>
        <div class="section-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a porta mauris. Curabitur aliquet posuere nibh nec aliquet. Cras lacus diam, sollicitudin nec vehicula quis, pretium quis turpis. Curabitur elit eros, gravida in nunc et, luctus accumsan ipsum. Sed eget eros felis. Mauris luctus tincidunt turpis a efficitur.
        </div>
    </section>
</div>
{% endblock %}
