{% extends "layout-base.html" %}

{% block body %}

<style>
    /* DEBUG */
    .container { margin-bottom: 20px; background-color: white; padding: 10px;}
    body { background-color: red; padding: 40px;}
</style>

<div class="container">
    {% include "title-0.html" %}
</div>

<div class="container">
    {% include "title-1.html" %}
</div>

<div class="container">
    {% include "title-2.html" %}
</div>

<div class="container">
    {% include "title-3.html" %}
</div>

<div class="container">
    {% include "title-4.html" %}
</div>

<div class="container">
    {% include "title-5.html" %}
</div>

<div class="container">
    {% include "title-6.html" %}
</div>

<div class="container">
    {% include "title-7.html" %}
</div>

<div class="container">
    {% include "title-8.html" %}
</div>

<div class="container">
    {% include "title-9.html" %}
</div>

<div class="container">
    {% include "title-10.html" %}
</div>

<div class="container">
    {% include "title-11.html" %}
</div>

<div class="container">
    {% include "title-12.html" %}
</div>

<div class="container">
    {% include "title-13.html" %}
</div>

<div class="container">
    {% include "title-14.html" %}
</div>

<div class="container">
    {% include "title-15.html" %}
</div>

<div class="container">
    {% include "title-16.html" %}
</div>

<div class="container">
    {% include "title-17.html" %}
</div>
        
{% endblock %}
