<div class="item-detailled">
    <div style="float: right; font-style: italic; color: {{itemColor}};">{{item.formattedDate}}</div>
    
    <div style="font-weight: bold;">
        <span style="font-size: 1em; text-transform: uppercase;">{{item.title}}</span>
        <br />
        <span class="item-entreprise">{{item.company}}</span>
        &nbsp;|&nbsp;
        <span class="item-address">{{item.address}}</span>
    </div>
    
    <div style="clear: right; padding-top: 0.25em; text-align: justify;">{{item.description}}</div>
</div>
