<div id="subscribe-form" class="subscribe-form">
    <div class="form-row">
        <label id="subscribe-form-email-label">
            <input id="subscribe-email" class="subscribe-email" aria-labelledby="subscribe-form-email-label" type="email" name="email" placeholder="Entrez votre adresse e-mail">
        </label>
    </div>
    <button class="button" onclick="subscribe()">S'abonner</button>
</div><!-- .subscribe-form -->

<div id="subscribe-form-success" style="color:#25ea25" hidden>
    Votre e-mail a bien été enregistré.
</div>